$font-he: "NarkisTam";
$font-en: "AudiType";

$mq-sm: "(max-width: 1000px)";
$mq-lg: "(min-width: 1001px)";

//layout
$headerHeight: 5rem;
$wpAdminBar: 32px;

//transition
$ease: all 0.3s ease;

//colors
$color-red-error: red;
$color-green: #4ba82e;
$color-green-title: #39b54a;
